<root>
	<client_info
		dbtype = "mongo"
		srcip = "192.168.116.132"
		srcport = "27017"
		srcuser = "root"
		srcpasswd = "123456"
		dstip = "127.0.0.1"
		dstport = "27017"
		dstuser = "root"
		dstpasswd = "123456"
		struct_path = "./config/db_struct.xml"
		table_limit = "1000"
		thread_num = "10"
	/>
  <table name="game.idx"/>
	<table name="game.role"/>
	<table name="game.mail"/>
  <table name="game.bag"/>
	<table name="game.guild"/>
  <table name="game.rank"/>
</root>
